@media screen and (max-width: 1180px){
    .btn{
        font-size: 12px;
    }

    input{
        font-size: 12px;
    }

    .container{
        width: 900px;
    }

    header .main-header .contact-block .info-block a .info .main-info{
        font-size: 12px;
    }

    .logo a img{
        width: 148px;
    }

    header nav .container ul li a{
        font-size: 12px;
    }

    main section .container .slick-products .product img{
        width: 100%;
        height: 100%;
    }

    main section .container .slick-products .product .order .price .coast{
        font-size: 24px;
    }

    main section .container .slick-products .product .order .price .old-price :first-of-type{
        font-size: 18px;
    }

    main section .container .slick-products .product .order .price .old-price :last-of-type{
        font-size: 14px;
    }
    .reviews-dots{
        top: 455px;
    }

    main section .container .slider-about .slideshow-container .main{
        width: 390px;
    }

    main section .container .slider-about .slideshow-container .next{
        width: 310px;
    }

    main section .container .slider-about .slideshow-container{
        width: 545px;
    }
}

@media screen and (max-width: 960px){
    main section .container .slick-products .product .order .price .coast{
        font-size: 36px;
    }

    main section .container .slick-products .product .order .price .old-price :first-of-type{
        font-size: 16px;
    }
    
    main section .container .slick-products .product .order .price .old-price :last-of-type{
        font-size: 12px;
    }

    main section .slick-stock .bacground-stock .container-stock .block-stock img{
        margin-right: 20px;
        width: 255px;
    }

    .info-block{
        width: 560px;
    }

    .b-popup-hiden{
        right: -110%;
    }
}



@media screen and (max-width: 768px){
    main .info section h1{
        font-size: 28px;
        line-height: 34px;
    }
    main .info section h2{
        font-size: 24px;
        line-height: 29px;
    }
    main .info section h3{
        font-size: 20px;
        line-height: 24px;
    }

    main .info section ol li{
        font-size: 14px;
        line-height: 17px;
    }

    main .info section ul .mark{
        font-size: 14px;
        line-height: 17px;
    }

    main .info section p{
        width: 90vw;
        font-size: 14px;
        line-height: 158.9%;
    }

    main .info section .breadcrumb{
        display: none;
    }
    /* 404 */
    main .error .block-left h2{
        font-size: 100px;
        line-height: 122px;
    }

    main .error .block-left p{
        font-size: 24px;
        line-height: 29px;
        width: 90vw;
    }

    main .error .block-left span{
        font-size: 24px;
        line-height: 29px;
        width: 90vw;
    }

    main .error{
        flex-direction: column;
        width: 90vw;
        align-items: center;
    }

    .block-right span{
        font-size: 80px;
    line-height: 98px;
    }

    .block-right.deco{
        width: 202px;
        height: 202px;
    }
    
    main .error .block-left{
        margin-bottom: 150px;
    }

    .right-section-error{
        position: relative;
    }

    /* контакты */

    main section .container .contact-container{
        flex-direction: column;
    }

    main section .container .requisites-section h3{
        margin-top: 36  px;
    }

    main section .container .requisites-section .requisites{
        display: flex;
        flex-direction: column;
    }

    /* каталог */
    .block-catalog1{
        display: none;
    }

    .container.text-block{
        display: none;
    }

    main .container .catalog{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    /* карточка товара */

    main section .info-product{
        flex-direction: column;
    }
    main section .container .main-info-product {
        margin-top: 146px;
        align-items: center;
    }

    main section .container .main-info-product .material-product{
        width: 90vw;
    }

    main section .container .main-info-product h2{
        font-size: 24px;
        line-height: 29px;
    }

    main section .container .main-info-product .material-product .feature .feature-left{
        font-size: 14px;
        line-height: 17px;
    }

    main section .container .main-info-product .material-product .feature .feature-right{
        font-size: 14px;
        line-height: 17px;
    }

    main section .container .main-info-product .grid-info{
        display: grid;
        row-gap: 36px;
        grid-template-areas: 'size size' 'color color' 'proce btn' 'link link';
    }

    main section .container .main-info-product .grid-info .info-block .size-container{
        grid-area: size;
    }
    main section .container .main-info-product .grid-info .select-color{
        margin: 0;
        grid-area: color;
    }

    main section .container .main-info-product .info-block{
        display: block;
    }

    
        


    .block-error2{
        transform: rotate(45deg);
        left: 0;
        top: -80px;
        width: 63px;
        height: 63px;
    }

    .block-error3{
        left: 120px;
        top: -150px;
        width: 101px;
        height: 101px;
    }

    .block-contact1{
        display: none;
    }
    .block-contact2{
        display: none;
    }
    .block-contact3{
        display: none;
    }
    .block-contact4{
        display: none;
    }

    .block-error1{
        display: none;
    }

    .block1{
        display: none;
    }
    .block2{
        display: none;
    }
    .block3{
        display: none;
    }
    .block4{
        display: none;
    }
    .block5{
        display: none;
    }
    .block6{
        display: none;
    }
    .block7{
        display: none;
    }
    .block8{
        display: none;
    }
    .block9{
        display: none;
    }
    .block10{
        display: none;
    }
    .block11{
        display: none;
    }
    .block12{
        display: none;
    }

    .block-info1{
        display: none;
    }
    .block-info2{
        display: none;
    }
    .block-info3{
        display: none;
    }
    .block-info4{
        display: none;
    }
}
@media screen and (max-width: 810px){
    .container{
        width: 700px;
    }

    main section .container .slick-review .block-review .section-review .text-review{
        font-size: 14px;
    }

    .reviews-dots{
        top: 505px;
    }

    main section .container .background-calback p{
        font-size: 16px;
    }

    .contact-block .info-block{
        width: auto;
    }

    main section .container .content img{
        display: none;
    }

    main section .container .slick .info-block .info h1{
        font-size: 36px;
    }

    main section .container .slick .info-block .info p{
        font-size: 12px;
    }

    main section .container h2{
        font-size: 24px;
        line-height: 34px;
    }

    main section .container .about-grid .block h3{
        font-size: 16px;
    }

    main section .container .about-grid .block p{
        font-size: 12px;
    }

    header nav .container{
        display: none;
    }

    .logo a img{
        display: none;
    }

    header .main-header .contact-block .info-block a{
        display: none;
    }

    .callback{
        display: none;
    }

    header .main-header{
        margin: 0;
    }

    header .main-header .container{
        justify-content: flex-start;
    }

    header .menu{
        display: block;
    }

    .b-popup{
        display: none;
    }

    main section .container .slick .info-block .img-page{
        display: none;
    }

    main section .container .slick .info-block .info{
        width: 100%;
        margin: 0;
    }

    main section .container .slick .info-block .info p{
        width: auto;
    }

    main section .container .slick .info-block{
        height: auto;
    }

    main section .container .about-grid{
        gap: 36px 115px;
    }

    main section .container .slick-products .product .order .price .coast{
        width: 100%;
        display: block ruby;
    }

    main section .container .slick-products .product .order .price .old-price{
        align-items: flex-start;
        flex-direction: column;
    }

    main section .slick-stock .bacground-stock .container-stock .block-stock .info-stock .coast-stock{
        font-size: 84px;
    }

    .info-stock{
        width: 480px;
    }

    main section .slick-stock .bacground-stock .container-stock .block-stock .info-stock .coast-stock{
        width: 100%;

    }

    main section .slick-stock .bacground-stock .container-stock .block-stock .info-stock .description-stock{
        width: 100%;
    }

    main section .container .info-about h2{
        margin-bottom: 36px;
        line-height: 120%;
    }

    main section .container .slider-about .slideshow-container{
        width: 515px;
    }

    main section .container .slider-about .slideshow-container .main{
        width: 300px;
    }
    main section .container .slider-about .slideshow-container .next{
        width: 260px;
    }

    main section .container .slider-about .slideshow-container{
        width: 472px;
    }

    main section .container .info-about p{
        text-align: start;
    }

    main section .container .info-about{
        align-items: flex-start;
    }

    footer{
        font-size: 12px;
    }

    footer nav .container .contact-section .contact-block .info-block a{
        display: none;
    }
    

    footer .main-footer .container .logo img{
        width: 110px;
    }

    footer .main-footer .container .messanger .img{
        margin-right: 10px;
    }
}

@media screen and (max-width: 375px){
    .search-input {
        width: 196px;
    }

    main section .container .slick .info-block .info p{
        width: 90vw;
    }
}

