main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  input {
  opacity: 0;
  margin-right: 18px;
  position: relative;
}

main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label {
  z-index: 5;
}

main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label::before {
  content: attr(data-title);
  display: none;
  color: black;
}

a
  main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label:hover::before {
  display: block;
  position: absolute;
  top: -20px;
  width: 100%;
  width: 100vw;
}

main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label:last-of-type:hover::before {
  display: block;
  position: absolute;
  top: -20px;
  left: -50px;
}

main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label:nth-last-of-type(5) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/venge.jpg");
}
main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label:nth-last-of-type(4) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/dub.jpg");
}
main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label:nth-last-of-type(3) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/yasen.jpg");
}
main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label:nth-last-of-type(2) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/white.jpg");
}
main
  section
  .container
  .main-info-product
  .info-block
  form
  .select-color
  label:nth-last-of-type(1) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/whitewood.jpg");
}

main section .container .main-info-product .select-color input:hover {
  outline: 1px solid var(--black);
  cursor: pointer;
}
.popup input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

:root {
  --black: #171717;
  --white: #ffffff;
  --pink: #ce2d4f;
  --red: #e31e24;
  --yelou: #c6ae25;
}
/* templates */

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--black);
}

body {
  overflow-x: hidden;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

section {
  margin-bottom: 120px;
}

.btn {
  outline: none;
  border: 1px solid transparent;
  background-color: var(--pink);
  color: var(--white);
  border-radius: 7px;
  padding: 12px;
}

.btn:hover {
  background-color: var(--red);
  transition: 0.1s;
  cursor: pointer;
}
/* header */

header .menu {
  display: none;
}

header nav .container .messanger a:nth-of-type(1) {
  background-image: url("/images/icons/messanger/vk_fill.svg");
}

header nav .container .messanger a:nth-of-type(1):hover {
  background-image: url("/images/icons/messanger/vk_outline.svg");
}

header nav .container .messanger a:nth-of-type(2) {
  background-image: url("/images/icons/messanger/whatsapp_fill.svg");
}

header nav .container .messanger a:nth-of-type(2):hover {
  background-image: url("/images/icons/messanger/whatsapp_outline.svg");
  background-repeat: no-repeat;
  background-position: center;
}

header nav .container .messanger a:nth-of-type(3) {
  background-image: url("/images/icons/messanger/telegram_fill.svg");
}

header nav .container .messanger a:nth-of-type(3):hover {
  background-image: url("/images/icons/messanger/telegram_outline.svg");
}
/*  */
header nav .container ul li:nth-of-type(1) {
  position: relative;
  border-radius: 0 0 20px 20px;
}

header nav .container ul li:nth-of-type(1):hover .sub-menu {
  display: block;
  padding: 20px 0 20px 20px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 0;
  color: var(--black);
  /* border-radius: 10px; */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 20px 0 0 0;
  min-width: 500px;
  z-index: 10;
}

.sub-menu.open .sub-menu > li {
  background-color: var(--white);
  padding: 0 0 10px 10px;
}

.sub-menu-link {
  display: inline-block;
}

.sub-menu li:last-of-type {
  margin: 0;
}
/*  */

header {
  /* z-index: 5; */
  padding: 25px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  background-color: var(--white);
}

.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 21;
}

header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

header nav .container .menu-ul {
  display: flex;
}

header nav .container ul {
  background-color: #fff;
  z-index: 10;
}

header nav .container ul li a {
  margin-right: 38px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  padding: 5px 15px;
  transition: 0.1s;
}

.arrow {
  position: absolute;
  right: 0;
  top: 3px;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

body.mouse header nav .container ul li a {
  margin-right: 38px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  padding: 5px 15px;
  transition: 0.1s;
}

body.mouse header nav .container ul li a:hover {
  background-color: var(--pink);
  color: var(--white);
  border-radius: 10px;
  transition: 0.1s;
}

body.touch .sub-menu.open {
  display: block;
  background-color: var(--white);
  padding-bottom: 20px;
}

.active-page {
  background-color: var(--pink);
  color: var(--white);
  border-radius: 10px;
  transition: 0.1s;
}

header nav .container .messanger {
  display: flex;
  align-items: center;
}

header nav .container .messanger .img {
  margin-right: 42px;
  height: 24px;
  width: 24px;
}

header nav .container .messanger .img:last-of-type {
  margin-right: 0;
}

header .main-header {
  margin-top: 26px;
}

header .main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*  */

.search {
  display: flex;
}

.search-btn {
  background-color: var(--pink);
  border: 1px solid transparent;
  padding: 14px;
  border-radius: 0 7px 7px 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover {
  background-color: var(--red);
  cursor: pointer;
  transition: 0.1s;
}

.search-input {
  outline: none;
  border: none;
  border-radius: 7px 0 0 7px;
  position: relative;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  z-index: 2;
  padding: 12px 14px;
  width: 266px;
  color: var(--black);
}

.search-input::placeholder {
  color: var(--black);
  font-weight: 500;
}

header .main-header .contact-block .info-block a {
  display: flex;
  align-items: center;
}

header .main-header .contact-block .info-block a img {
  margin-right: 9px;
}

header .main-header .contact-block .info-block a .info {
  display: flex;
  flex-direction: column;
}

header .main-header .contact-block .info-block a .info .main-info {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: var(--black);
}

header .main-header .contact-block .info-block a .info .main-info:hover,
main
  section
  .container
  .background-calback
  .contact-block
  .info-block
  a
  .info
  .main-info:hover,
footer
  nav
  .container
  .contact-section
  .contact-block
  .info-block
  a
  .info
  .main-info:hover,
main
  section
  .container
  .contact-container
  .contact-section
  .contact-block
  .info-block
  a
  .info
  .main-info:hover {
  color: var(--pink);
  transition: all 0.3s;
}

header .main-header .contact-block .info-block a .info .additionally-info {
  font-family: "Geometria";
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: rgba(123, 123, 123, 1);
}
/* main */

main {
  margin-top: 80px;
}

main section .container .slick .info-block {
  height: 526px;
  display: flex;
  padding: 10px;
}

main section .container .slick .info-block .info {
  width: 50%;
  margin-right: 60px;
}

main section .container .slick .info-block .info h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  width: 474px;
  margin-bottom: 35px;
}

main section .container .slick .info-block .info p {
  font-size: 14px;
  font-weight: 500;
  line-height: 163.98%;
  width: 474px;
  margin-bottom: 35px;
}

main section .container .slick .info-block .img-page {
  width: 50%;
}

main section .container .slick .info-block .img-page img {
  object-fit: cover;
  width: 100%;
}

main section .container h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 103px;
  letter-spacing: 0.105em;
}

main section .container .about-grid {
  display: grid;
  gap: 73px 115px;
  grid-template-columns: repeat(2, 1fr);
}

main section .container .about-grid .block {
  padding: 10px 10px 10px 20px;
  border-left: 6px solid var(--red);
  max-width: 453px;
  transition: 0.1s;
  border-radius: 0 18px 18px 0;
}

main section .container .about-grid .block:hover {
  outline: 1px solid #c6ae25;
  border-left: 6px solid var(--red);
  border-radius: 0 18px 18px 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  transition: 0.1s;
}

main section .container .about-grid .block h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.105em;
  margin-bottom: 12px;
}

main section .container .about-grid .block p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 145.9%;
  letter-spacing: 0.035em;
  color: rgba(23, 23, 23, 0.8);
}

main section .container .slick-products .product {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  border-radius: 10px;
  padding: 32px 27px;
  margin: 20px 16px 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main section .container .slick-products .product .name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 145.9%;
  letter-spacing: 0.035em;
  color: #383030;
  margin-bottom: 24px;
}

main section .container .slick-products .product img {
  object-fit: cover;
  width: 281px;
  height: 211px;
  margin-bottom: 24px;
}

main section .container .slick-products .product .order {
  display: flex;
  align-items: center;
}

main section .container .slick-products .product .order .price .coast {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  margin-right: 20px;
  letter-spacing: 0.105em;
  color: #383030;
}

main
  section
  .container
  .slick-products
  .product
  .order
  .price
  .old-price
  :first-of-type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.105em;
  text-decoration-line: line-through;
  margin-right: 10px;
  color: #383030;
}

main
  section
  .container
  .slick-products
  .product
  .order
  .price
  .old-price
  :last-of-type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.105em;
  color: #ce2d4f;
}

main section .container .slick-products .product .order .price .old-price {
  display: flex;
  align-items: center;
}

main section .container .slick-products .product .order .price p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 145.9%;
  /* identical to box height, or 18px */
  letter-spacing: 0.035em;
  color: rgba(56, 48, 48, 0.8);
}

main section .slick-stock .bacground-stock {
  background-image: url("../images/bacground-room.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 51px;
  /* width: 100vw; */
}

main section .slick-stock .bacground-stock .container-stock {
  width: 1180px;
  margin: 0 auto;
}

main section .slick-stock .bacground-stock .container-stock h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 103px;
  letter-spacing: 0.105em;
  margin-bottom: 64px;
}

main section .slick-stock .bacground-stock .container-stock .block-stock {
  display: grid;
  grid-template-areas: "img coast" "img text" "img desc";
}

main section .slick-stock .bacground-stock .container-stock .block-stock img {
  margin-right: 140px;
  width: 318px;
  height: 353px;
  object-fit: contain;
  grid-area: img;
}

main
  section
  .slick-stock
  .bacground-stock
  .container-stock
  .block-stock
  .coast-stock {
  font-family: "Montserrat";
  grid-area: coast;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  margin-bottom: 44px;
  color: var(--pink);
}

main section .slick-stock .bacground-stock .container-stock .block-stock span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 163.98%;
  color: var(--black);
  grid-area: text;
}

main
  section
  .slick-stock
  .bacground-stock
  .container-stock
  .block-stock
  .description-stock {
  font-family: "Montserrat";
  font-style: normal;
  grid-area: desc;
  font-weight: 500;
  font-size: 14px;
  line-height: 163.98%;
  margin-top: 18px;
  color: var(--black);
}

main section .slick-stock .slick-arrow.slick-next {
  right: 30px;
  z-index: 10;
}

main section .slick-stock .slick-arrow.slick-prev {
  left: 30px;
  z-index: 10;
}

.prev-stock {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 10;
  outline: none;
  /* background-color: var(--pink); */
  border: none;
  padding: 10px;
  background: url("/images/icons/prew.svg") 0 0 /20% no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 24px;
  background-color: var(--pink);
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.prev-stock:hover {
  transition: 0.1s;
  background-color: var(--red);
  cursor: pointer;
}

.next-stock {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 10;
  outline: none;
  /* background-color: var(--pink); */
  border: none;
  padding: 10px;
  background: url("../images/icons/next.svg") 0 0 /20% no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 24px;
  background-color: var(--pink);
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.next-stock:hover {
  transition: 0.1s;
  background-color: var(--red);
  cursor: pointer;
}
/*  */

main section .about {
  display: flex;
  justify-content: space-between;
}

main section .container .info-about {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main section .container .info-about h2 {
  margin-bottom: 64px;
  text-align: end;
  font-size: 36px;
  line-height: 44px;

  /* identical to box height */
  letter-spacing: 0.105em;
}

main section .container .info-about p {
  text-align: end;
  width: 90%;
}

main section .container .info-about p:first-of-type {
  margin-bottom: 20px;
}

main section .container .info-about p:last-of-type {
  margin-bottom: 40px;
}

main section .container .slider-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 605px; */
}

main section .container .slider-about .slideshow-container {
  margin-right: 40px;
  width: 50%;
  min-width: 0;
  position: relative;
  width: 605px;
  height: 521px;
}

main section .container .slider-about .slideshow-container .mySlides img {
  object-fit: cover;
  width: 394px;
  /* height: 338px; */
  border-radius: 10px;
}
main section .container .slider-about .slideshow-container .prewSlides {
  width: 499px;
  height: 435px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

main section .container .slider-about .slideshow-container .main {
  width: 499px;
  height: 435px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  pointer-events: none;
}

main section .container .slider-about .slideshow-container .next {
  position: absolute;
  z-index: 2;
  top: 139px;
  left: 211px;
  width: 394px;
  height: 338px;
  transition: 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

main section .container .slider-about .slideshow-container .hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
  display: none;
  transition: 0.3s ease-in-out;
}

main section .container .slider-about .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

main section .container .slider-about .dot:hover {
  border: 1px solid var(--black);
}

main section .container .slider-about .active {
  background-color: var(--pink);
}

main section .container .slider-about .active:hover {
  background-color: var(--red);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
/*  */

main section .container .slick-review .block-review {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

main section .container .slick-review .block-review .img-profile {
  position: relative;
  margin-right: 150px;
}

main section .container .slick-review .block-review .img-profile::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 292px;
  height: 334px;
  bottom: 0;
  left: -10%;
  border-radius: 12px;
  background: #e8f3f9;
}

main section .container .slick-review .block-review .section-review .rating {
  margin-bottom: 26px;
  display: flex;
}

main
  section
  .container
  .slick-review
  .block-review
  .section-review
  .rating
  img {
  margin-right: 10px;
}

main
  section
  .container
  .slick-review
  .block-review
  .section-review
  .rating
  img:last-of-type {
  margin-right: 0;
}

main
  section
  .container
  .slick-review
  .block-review
  .section-review
  .text-review {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 138.5%;
  letter-spacing: 0.055em;
  margin-bottom: 26px;
}

main
  section
  .container
  .slick-review
  .block-review
  .section-review
  .info-person {
  display: flex;
  flex-direction: column;
}

main
  section
  .container
  .slick-review
  .block-review
  .section-review
  .info-person
  span:first-of-type {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 138.5%;
  letter-spacing: 0.055em;
  color: var(--black);
}

main
  section
  .container
  .slick-review
  .block-review
  .section-review
  .info-person
  span:last-of-type {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.055em;
  color: #aaaaaa;
}

.reviews-dots {
  position: absolute;
  top: 390px;
  text-align: center;
  width: fit-content;
  padding: 0;
  margin: 0;
  left: 423px;
  list-style: none;
}

.reviews-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.burger-menu {
  position: absolute;
  right: -100%;
}

.reviews-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.reviews-dots li button:hover,
.reviews-dots li button:focus {
  outline: none;
}

.reviews-dots li button:hover:before,
.reviews-dots li button:focus:before {
  opacity: 1;
}

.reviews-dots li button:before {
  font-family: "slick";
  font-size: 36px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "○";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reviews-dots li.slick-active button:before {
  font-size: 36px;
  color: #ce2d4f;
  content: "●";
}
/*  */

main section .container .background-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 50px 50px 50px;
  margin: 0 auto;
  width: 802px;
  height: 624px;
  background-image: url("../images/bacground-room.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

main section .container .background-form h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: var(--black);
}

main section .container .background-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section .container .background-form form .custom-input .input-form {
  max-width: 271px;
  width: 255px;
  padding: 14px 25px;
  color: var(--black);
  border: 1px solid #c6ae25;
  outline: none;
  border-radius: 11px;
  background: transparent;
  position: relative;
}

main section .container .background-form form .custom-input {
  position: relative;
  margin-bottom: 20px;
}

main section .container .background-form form .custom-input .label-form {
  position: absolute;
  padding: 5px;
  background: #fff;
  border-radius: 12px;
  left: 20px;
  top: -15px;
  z-index: 2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #171717;
}

.input-form::placeholder {
  color: var(--black);
  font-weight: 500;
}

main section .container .background-form form .custom-checkbox input {
  margin-right: 10px;
}

main section .container .background-form form .btn {
  margin: 20px 0;
}

main section .container .background-form form .custom-checkbox:last-of-type {
  text-align: center;
  width: 500px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #171717;
}

main
  section
  .container
  .background-form
  form
  .custom-checkbox:last-of-type
  span
  a {
  text-decoration-line: underline;
}
/*  */

main section .container .background-calback {
  padding: 34px 100px;
  background-image: url("../images/bacground-room.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

main section .container .background-calback h2 {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: var(--black);
}

main section .container .background-calback p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--black);
  margin-bottom: 20px;
}

main section .container .background-calback .contact-block {
  margin-bottom: 20px;
}

main section .container .background-calback .contact-block .info-block a {
  display: flex;
  align-items: center;
}

main section .container .background-calback .contact-block .info-block a img {
  margin-right: 9px;
}

main section .container .background-calback .contact-block .info-block a .info {
  display: flex;
  flex-direction: column;
}

main
  section
  .container
  .background-calback
  .contact-block
  .info-block
  a
  .info
  .main-info {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: var(--black);
}

main
  section
  .container
  .background-calback
  .contact-block
  .info-block
  a
  .info
  .additionally-info {
  font-family: "Geometria";
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: rgba(123, 123, 123, 1);
}

main section .container .background-calback .messanger a {
  margin-right: 50px;
}

main section .container .background-calback .messanger a:last-of-type {
  margin-right: 0;
}

.img {
  width: 24px;
  height: 24px;
}

main section .container .background-calback .messanger {
  display: flex;
  align-items: center;
}

main section .container .background-calback .messanger .img {
  margin-right: 42px;
  height: 24px;
  width: 24px;
}

main section .container .background-calback .messanger .img:last-of-type {
  margin-right: 0;
}

main section .container .background-calback .messanger a:nth-of-type(1) {
  background-image: url("/images/icons/messanger/vk_fill.svg");
}

main section .container .background-calback .messanger a:nth-of-type(1):hover {
  background-image: url("/images/icons/messanger/vk_outline.svg");
}

main section .container .background-calback .messanger a:nth-of-type(2) {
  background-image: url("/images/icons/messanger/whatsapp_fill.svg");
}

main section .container .background-calback .messanger a:nth-of-type(2):hover {
  background-image: url("/images/icons/messanger/whatsapp_outline.svg");
  background-repeat: no-repeat;
  background-position: center;
}

main section .container .background-calback .messanger a:nth-of-type(3) {
  background-image: url("/images/icons/messanger/telegram_fill.svg");
}

main section .container .background-calback .messanger a:nth-of-type(3):hover {
  background-image: url("/images/icons/messanger/telegram_outline.svg");
}
/*  */

main section .container h2 {
  margin-bottom: 20px;
}

main section .container .content {
  display: grid;
  gap: 32px;
  grid-template-areas: "first-text img" "last-text last-text";
}

main section .container .content p:first-of-type {
  grid-area: first-text;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 163.98%;
  /* or 23px */
  color: var(--black);
}

main section .container .content p:last-of-type {
  grid-area: last-text;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 163.98%;
  /* or 23px */
  color: var(--black);
}

main section .container .content img {
  grid-area: img;
  width: 523px;
  height: 412px;
}
/*  */

footer {
  padding: 25px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

footer nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav .container ul {
  display: flex;
}

footer nav .container ul li a {
  margin-right: 38px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  padding: 5px 15px;
  transition: 0.1s;
}

footer nav .container ul li a:hover {
  background-color: var(--pink);
  color: var(--white);
  border-radius: 10px;
  transition: 0.1s;
}

footer nav .container .contact-section {
  display: flex;
}

footer nav .container .contact-section .contact-block {
  margin-right: 36px;
}

footer nav .container .contact-section .contact-block:last-of-type {
  margin-right: 0;
}

footer nav .container .contact-section .contact-block .info-block a {
  display: flex;
  align-items: center;
}

footer nav .container .contact-section .contact-block .info-block a img {
  margin-right: 9px;
}

footer nav .container .contact-section .contact-block .info-block a .info {
  display: flex;
  flex-direction: column;
}

footer
  nav
  .container
  .contact-section
  .contact-block
  .info-block
  a
  .info
  .main-info {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: var(--black);
}

footer
  nav
  .container
  .contact-section
  .contact-block
  .info-block
  a
  .info
  .additionally-info {
  font-family: "Geometria";
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: rgba(123, 123, 123, 1);
}

footer .main-footer .container {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .main-footer .container .politics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .main-footer .container .politics a {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-decoration-line: underline;
  color: var(--black);
}

footer .main-footer .container .politics span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: var(--black);
}

footer .main-footer .container .messanger {
  display: flex;
  align-items: center;
}

footer .main-footer .container .messanger .img {
  margin-right: 42px;
  height: 24px;
  width: 24px;
}

footer .main-footer .container .messanger .img:last-of-type {
  margin-right: 0;
}

footer .main-footer .container .messanger a:nth-of-type(1) {
  background-image: url("/images/icons/messanger/vk_fill.svg");
}

footer .main-footer .container .messanger a:nth-of-type(1):hover {
  background-image: url("/images/icons/messanger/vk_outline.svg");
}

footer .main-footer .container .messanger a:nth-of-type(2) {
  background-image: url("/images/icons/messanger/whatsapp_fill.svg");
}

footer .main-footer .container .messanger a:nth-of-type(2):hover {
  background-image: url("/images/icons/messanger/whatsapp_outline.svg");
  background-repeat: no-repeat;
  background-position: center;
}

footer .main-footer .container .messanger a:nth-of-type(3) {
  background-image: url("/images/icons/messanger/telegram_fill.svg");
}

footer .main-footer .container .messanger a:nth-of-type(3):hover {
  background-image: url("/images/icons/messanger/telegram_outline.svg");
}

/* Страница контакты */

main section .container h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 46px;
}

main section .container .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main section .container .contact-container .contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main section .container .contact-container .contact-section .contact-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

main
  section
  .container
  .contact-container
  .contact-section
  .contact-block:last-of-type {
  margin: 0;
}

main section .container .contact-container .contact-section .contact-block h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #7b7b7b;
  margin-bottom: 14px;
}

main
  section
  .container
  .contact-container
  .contact-section
  .contact-block
  .info-block
  a {
  display: flex;
}

main
  section
  .container
  .contact-container
  .contact-section
  .contact-block
  .info-block
  a
  img {
  margin-right: 9px;
}

main
  section
  .container
  .contact-container
  .contact-section
  .contact-block
  .info-block
  a
  .info {
  display: flex;
  flex-direction: column;
}

main
  section
  .container
  .contact-container
  .contact-section
  .contact-block
  .info-block
  a
  .info
  .main-info {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}
main
  section
  .container
  .contact-container
  .contact-section
  .contact-block
  .info-block
  a
  .info
  .additionally-info {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #7b7b7b;
}

main section .container .requisites-section h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #7b7b7b;
  margin-bottom: 14px;
}

.contact-container {
  position: relative;
  z-index: 3;
}

main section .container .requisites-section .requisites {
  position: relative;
  display: grid;
  grid-column-gap: 100px;
  grid-row-gap: 38px;
  grid-template-areas: "a b" "c d";
  z-index: 3;
}

main section .container .requisites-section .requisites p:nth-of-type(1) {
  grid-area: a;
}
main section .container .requisites-section .requisites p:nth-of-type(2) {
  grid-area: c;
}
main section .container .requisites-section .requisites p:nth-of-type(3) {
  grid-area: b;
}
main section .container .requisites-section .requisites p:nth-of-type(4) {
  grid-area: d;
}

main section .container .requisites-section .requisites p {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 147%;

  /* or 29px */

  color: #242b33;
}
main section .container .requisites-section .requisites p span {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147%;

  /* or 29px */

  color: #242b33;
}

section iframe {
  width: 100%;
  height: 494px;
}

/* инфо-страница */

main .info section {
  margin-bottom: 30px;
}

main .info section .breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

main .info section .breadcrumb ul li {
  list-style: none;
}

main .info section .breadcrumb li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(23, 23, 23, 0.55);
}

main .info section .breadcrumb li a::after {
  content: "/";
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(23, 23, 23, 0.55);
}

main .info section .breadcrumb .active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

main .info section h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 18px;
}

main .info section h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 18px;
}

main .info section h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 18px;
}

main .info section ol li {
  list-style: block;
  font-weight: 700;
  color: var(--red);
}

main .info section ol li span {
  font-weight: 400;
}

main .info section ol {
  margin-left: 15px;
}

main .info section ul .mark::before {
  content: "⬥";
  padding-right: 3px;
  color: var(--pink);
}

main .info section p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 158.9%;
  margin-bottom: 18px;
}

main .info section p:last-of-type {
  margin: 0;
}

/* 404 */

main .error {
  margin-top: 148px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 148px;
}

main .error .block-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .error .block-left h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 200px;
  line-height: 244px;
  margin-bottom: 18px;
}

main .error .block-left p {
  font-family: "Montserrat";
  max-width: 572px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 49px;
}

main .error .block-left span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 49px;
}

.block-right {
  background-color: var(--pink);
  width: 404px;
  height: 404px;
  border-radius: 30px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-right span {
  transform: rotate(-45deg);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 183px;
  color: var(--white);
}

/* Декоративные элементы */

.container.error {
  position: relative;
}

.block1 {
  left: 114px;
  top: 644px;
  position: absolute;
  height: 66px;
  width: 66px;
  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block2 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 55px;
  top: 708px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block3 {
  position: absolute;
  width: 91px;
  height: 91px;
  left: 97px;
  top: 749px;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
  z-index: -1;
}

.block4 {
  position: absolute;
  width: 516px;
  height: 516px;
  right: -260px;
  top: 539px;
  z-index: -1;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transform: rotate(45deg);
}

.block5 {
  position: absolute;
  width: 169px;
  height: 160px;
  left: -90px;
  top: 1321px;
  z-index: -1;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}
.block6 {
  position: absolute;
  width: 67px;
  height: 67px;
  right: 100px;
  top: 3499px;
  z-index: -1;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
.block7 {
  position: absolute;
  width: 169px;
  height: 160px;
  left: -90px;
  top: 1321px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}
.block8 {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 58px;
  top: 3563px;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
.block9 {
  position: absolute;
  width: 91px;
  height: 91px;
  right: 88px;
  top: 3604px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
.block10 {
  position: absolute;
  width: 516px;
  height: 516px;
  left: -437px;
  top: 3394px;
  z-index: -1;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
.block11 {
  position: absolute;
  width: 169px;
  height: 169px;
  right: -100px;
  top: 4176px;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
.block12 {
  position: absolute;
  width: 169px;
  height: 169px;
  left: -100px;
  top: 5085px;
  z-index: -1;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block-contact1 {
  position: absolute;
  width: 201px;
  height: 201px;
  left: -170px;
  top: 204px;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transform: rotate(45deg);
}

.block-contact2 {
  position: absolute;
  width: 49px;
  height: 49px;
  right: 226px;
  top: 248px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block-contact3 {
  position: absolute;
  width: 31px;
  height: 31px;
  right: 282px;
  top: 295px;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block-contact4 {
  position: absolute;
  width: 66px;
  height: 66px;
  right: 226px;
  top: 325px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block-info1 {
  position: absolute;
  width: 201px;
  height: 201px;
  left: -170px;
  top: 204px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transform: rotate(45deg);
}

.block-info2 {
  position: absolute;
  width: 49px;
  height: 49px;
  right: 226px;
  top: 248px;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block-info3 {
  position: absolute;
  width: 31px;
  height: 31px;
  right: 282px;
  top: 295px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block-info4 {
  position: absolute;
  width: 66px;
  height: 66px;
  right: 226px;
  top: 325px;

  background: rgba(206, 45, 79, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(45deg);
}

.block-error1 {
  position: absolute;
  width: 201px;
  height: 201px;
  left: -173px;
  top: 204px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transform: rotate(45deg);
}

.block-error2 {
  position: absolute;
  width: 126px;
  height: 126px;
  right: 20px;
  top: -180px;
  z-index: -1;

  background: #c6ae25;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transform: rotate(45deg);
}

.block-error3 {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 200px;
  top: -290px;
  z-index: -1;

  background: #c6ae25;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transform: rotate(45deg);
}

.block-catalog1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -140px;
  top: 304px;

  background: rgba(198, 174, 37, 0.9);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transform: rotate(45deg);
}

.deco {
  animation-name: deco;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes deco {
  0% {
    transform: translateY(0px) rotate(45deg);
  }

  50% {
    transform: translateY(100px) rotate(45deg);
  }

  100% {
    transform: translateY(0px) rotate(45deg);
  }
}

/* pop up */
.b-popup {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  transition: 0.3s;
}

.b-popup .b-popup-content {
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 26px;
  transform: translateX(20px);
  z-index: 1;
}

.b-popup .b-popup-content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--black);
  margin-bottom: 15px;
}

.b-popup .b-popup-content span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--black);
}

.b-popup .b-popup-content a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--pink);
  border-bottom: 1px solid var(--pink);
}

.b-popup .b-popup-img {
  z-index: 2;
  background-color: var(--white);
  background-image: url("../images/men.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 30px 0 30px;
  height: 227px;
  width: 227px;
  /* background: #FFFFFF; */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: 1px solid var(--pink);
}

.close {
  position: absolute;
  height: 26px;
  width: 26px;
  z-index: 2;
  top: 46px;
  left: 8px;
  background-image: url("/images/icons/close.svg");
}

.close:hover {
  cursor: pointer;
}

.b-popup-hiden {
  right: -100%;
  transition: 0.3s;
}

.popup-fade {
  z-index: 9999;
  display: none;
}
.popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}
.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  padding: 66px 44px;
  width: 360px;
  margin-left: -200px;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 99999;
  opacity: 1;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup form {
}

form .custom-input .input-form {
  max-width: 271px;
  width: 255px;
  padding: 14px 25px;
  color: var(--black);
  border: 1px solid #c6ae25;
  outline: none;
  border-radius: 11px;
  background: transparent;
  position: relative;
}

form .custom-input {
  position: relative;
  margin-bottom: 20px;
}

form .custom-input .label-form {
  position: absolute;
  padding: 5px;
  background: #fff;
  border-radius: 12px;
  left: 20px;
  top: -15px;
  z-index: 2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #171717;
}

.input-form::placeholder {
  color: var(--black);
  font-weight: 500;
}

form .custom-checkbox input {
  margin-right: 10px;
  margin-bottom: 18px;
}

.popup form .custom-input:nth-of-type(5) button:hover {
  cursor: pointer;
}

.popup form .custom-input:nth-of-type(5) button::after {
  content: "";
  right: 10px;
  background-image: url("/images/icons/cloud.svg");
  background-size: cover;
  position: absolute;
  height: 20px;
  width: 21px;
}

.popup form .custom-input:last-of-type {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.popup form .custom-input:last-of-type label {
  margin-bottom: 6px;
}

.select-color input {
  border: none;
  outline: none;
  width: 26px;
  height: 26px;
  margin-bottom: 18px;
}

.select-color input:hover {
  cursor: pointer;
}

.annatation {
  margin-bottom: 18px;
}

form .select-color input {
  opacity: 0;
  margin-right: 18px;
  position: relative;
}

form .select-color label {
  z-index: 5;
}

form .select-color label::before {
  content: attr(data-title);
  display: none;
  color: black;
}

form .select-color label:last-of-type:hover::before {
  display: block;
  position: absolute;
  top: -0px;
  width: 100px;
}
form .select-color label:hover::before {
  display: block;
  position: absolute;
  top: -20px;
  width: 100vw;
}

form .select-color label:nth-last-of-type(5) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/venge.jpg");
}
form .select-color label:nth-last-of-type(4) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/dub.jpg");
}
form .select-color label:nth-last-of-type(3) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/yasen.jpg");
}
form .select-color label:nth-last-of-type(2) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/white.jpg");
}
form .select-color label:nth-last-of-type(1) {
  position: absolute;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/material/whitewood.jpg");
}

.select-color input:hover {
  outline: 1px solid var(--black);
  cursor: pointer;
}

.info-product .info-block form p {
  color: var(--yelou);
}

/* отзывы */

.review-header {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-header h1 {
  font-size: 48px;
  color: #171717;
  line-height: 59px;
}

.review-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 37px;
}

.review-block .avatar {
  grid-area: img;
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 214px;
  height: 214px;
  overflow: hidden;
  position: relative;
}

.review-block .avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  object-fit: contain;
}

.content-review {
  width: 80%;
}

.content-review .content-review-block {
  display: flex;
  margin-bottom: 32px;
}
.content-review .info-person {
  display: flex;
  flex-direction: column;
  margin-right: 46px;
}
.content-review p {
  font-weight: 400;
  font-size: 18px;
  line-height: 138.5%;
  /* or 25px */

  letter-spacing: 0.055em;

  color: #000000;
}

.content-review-block .left-block .stars {
  margin-bottom: 21px;
}

.content-review .info-person span:first-of-type {
  font-size: 20px;
  font-weight: 700;
}

.content-review .info-person span:last-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 138.5%;
  color: #aaaaaa;
}

.content-review .slick-img-review {
  width: 465px;
  height: 111px;
}

.content-review .slick-img-review .test img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.content-review .slick-img-review .test {
  position: relative;
  margin-right: 24px;
  transition: all 0.3s ease-in-out;
}

.content-review .slick-img-review .test:hover::before {
  content: "";
  background-color: #111;
  opacity: 0.7;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
}

.content-review .slick-img-review .test:hover::after {
  content: "";
  background-image: url("/images/icons/search.svg");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-position: center;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  position: absolute;
}
